/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500&display=swap");

/*===== VARIABLES CSS =====*/
:root {
  /*===== Colors =====*/
  --first-color: #272a3a;
  --first-color-light: #8a8eaa;
  --first-color-lighten: #ffd700;

  /*===== Font and typography =====*/
  --body-font: "Ubuntu", sans-serif;
  --normal-font-size: 0.9rem;
  --smaller-font-size: 0.813rem;
}

/*===== BASE =====*/
*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 2em;
  min-height: 100vh;
  color: var(--first-color);
  font-family: var(--body-font);

  background-color: #ffd700;
  background-image: linear-gradient(
      30deg,
      #efcc00 12%,
      transparent 12.5%,
      transparent 87%,
      #efcc00 87.5%,
      #efcc00
    ),
    linear-gradient(
      150deg,
      #efcc00 12%,
      transparent 12.5%,
      transparent 87%,
      #efcc00 87.5%,
      #efcc00
    ),
    linear-gradient(
      30deg,
      #efcc00 12%,
      transparent 12.5%,
      transparent 87%,
      #efcc00 87.5%,
      #efcc00
    ),
    linear-gradient(
      150deg,
      #efcc00 12%,
      transparent 12.5%,
      transparent 87%,
      #efcc00 87.5%,
      #efcc00
    ),
    linear-gradient(
      60deg,
      #efcc0077 25%,
      transparent 25.5%,
      transparent 75%,
      #efcc0077 75%,
      #efcc0077
    ),
    linear-gradient(
      60deg,
      #efcc0077 25%,
      transparent 25.5%,
      transparent 75%,
      #efcc0077 75%,
      #efcc0077
    );
  background-size: 80px 140px;
  background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;
}

h1 {
  margin: 0;
}

a {
  text-decoration: none;
}
a:hover > .drop__card {
  transition: 0.2s;
  background-color: rgba(255, 255, 255, 0.8);
}

header {
  display: flex;
  justify-content: center;
  position: relative;
}

header > div {
  border-radius: 50%;
}

header img {
  max-width: 10em;
  filter: drop-shadow(0.25em 0 rgba(255, 255, 255, 0.6))
    drop-shadow(-0.25em 0 rgba(255, 255, 255, 0.6))
    drop-shadow(0 0.25em rgba(255, 255, 255, 0.6))
    drop-shadow(0 -0.25em rgba(255, 255, 255, 0.6));
}

.border {
  border-radius: 50%;
  border: 0.8em dashed #000;
  background: transparent;

  -webkit-animation-name: Rotate;
  -webkit-animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: Rotate;
  -moz-animation-duration: 2s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: Rotate;
  -ms-animation-duration: 2s;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
}

@-webkit-keyframes Rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes Rotate {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}
@-ms-keyframes Rotate {
  from {
    -ms-transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
  }
}

/*===== DRAG and DROP =====*/
.drop {
  display: flex;
  justify-content: center;
  margin: 1em 0;
}
.drop__container {
  display: grid;
  gap: 1em;
  width: min(100vw, 400px);
}

.drop__card {
  display: flex;
  place-items: center;
  padding: 0.4rem 1.25rem;
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 0.5em 0.4em 0.1em rgba(0, 0, 0, 0.2);
  border-radius: 2.5rem;
}

.drop__card > div {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  margin-left: -55px;
}

.drop__img {
  width: 55px;
  border-radius: 50%;
  margin-right: 1rem;
}

.drop__name {
  font-weight: bold;
  font-size: var(--normal-font-size);
  color: var(--first-color);
  letter-spacing: 0.1em;
}

.drop__profession {
  font-size: var(--smaller-font-size);
  color: var(--first-color-light);
}

.drop__social {
  margin: 0 0.375rem;
  color: var(--first-color-light);
  transition: 0.4s;
}

.drop__social:hover {
  color: var(--first-color);
}

footer {
  text-align: center;
}
